<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register the Gliders! :></h1>
    <p>This is the register page for sugar gliders.</p>
    <form method="post" action="/register">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" name="submit">
    </form>
    <div>
        {{ message }}
    </div>
</body>
</html>