<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Gliders</title>
</head>
<body>
    <h1>Sign up your Gliders :></h1>
    <p>This is the sign up page for sugar gliders.</p>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" name="submit">
    </form>
    <div>
        {{ message }}
    </div>
</body>
</html>